
/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
:root {
    --accent: #d7ac39;
}

/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
a img{
  border-radius: 25px;
}
section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  gap: 50px;
}
section:nth-child(odd) {background: #efefef}
section:nth-child(even) {background: #FFF}

body{
  margin: 20px;
  background-color: #fff;
  font-family: 'Lora', Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 18px;
  color: #333;
  letter-spacing: 1px;
  line-height: 2em;
}

.center{
  text-align: center;
}

.job{
  margin-bottom: 90px;
}
#highlights, #experience, #education{
  margin-bottom: 80px;
  padding-bottom: 30px;
  border-bottom: 1px solid #999;
}

ul{
  padding-left: 20px;
}
li{
  margin-bottom: 10px;
  line-height: 1.75em;
}

#info, #social{
  padding: 20px 0;
}

/* ----------------------------------------
Downloads
------------------------------------------- */
.download-cont{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.download{
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  background-color: #d7ac39;
}
.download .info{
  position: absolute;
  width: 100%;
  padding: 0 5% 5% 5%;
  background: #0000007a;
  color: #fff;
  bottom: -100%;
  transition: .5s ease;
}

.download:hover .info{
  bottom: 0;
}
.download h3, 
.download p {
  margin: 0;
}
.download h3{
  margin-top: 10px;
}
/* ----------------------------------------
header
------------------------------------------- */
#cover{
  background-color: var(--accent);
  background: url('../img/amy-hero-img.jpg');
  background-size: auto 100%;
  background-attachment: fixed;
  background-position: 50% 0;
	height: 80vh;
  color: white;
}
/* ----------------------------------------
Footer
------------------------------------------- */
footer{
  margin: 0;
  padding: 50px;
  background-color: var(--accent);
  text-align: center;
}
/* ----------------------------------------
Type
------------------------------------------- */
h1{
  line-height: 1.1em;
}
h2{
  font-size: 1.75em;
}
h3{
  font-size: 1.5em;
  margin-bottom: 40px;
}
a{
  color: var(--accent);
  text-decoration: none;
}
.title{
  font-weight: bold;
  margin-bottom: 10px;
}
.employer, .date{
  font-style: italic;
  margin: 0;
}
nav p{
  font-size: 2em;
  font-weight: bold;
}
#info p{
  line-height: 5px;
}
#social a{
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-right: 15px;
}
i{
  color: #666;
  font-size: 1.8em;
}
.comment{
  text-transform: ;
}
/* ----------------------------------------
Interaction
------------------------------------------- */
.book-recs a{
  margin: 0 10px 10px 0;
}

a:hover{
  color: #333;
}
/* ----------------------------------------
Responsive
------------------------------------------- */
@media only screen and (max-width: 1024px) {
  #cover{
    background-position: 30% 0;
    background-attachment: scroll;
    position: relative;
  }
  #cover nav #logo{
    display: none;
    position: absolute;
    top: 20px;
    left: 50px;
    padding-right: 30px;
  }
  #cover h1{
    position: absolute;
    bottom: 20px;
    left: 50px;
    padding-right: 60px;
  }
  .download-cont{
    grid-template-columns: 1fr;
  }
  .download .info{
    bottom: 0%;
  }
}

@media only screen and (max-width: 850px) {
  section{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5vw;
  }
  body{
    margin: 0 auto;
    font-size: 15px;
  }
  #cover{
    background-position: 50% 0;
  }

}
